@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=JetBrains+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --color-genlayer-dark: #0A0A0A;
  --color-genlayer-card: #141414;
  --color-genlayer-border: #2A2A2A;
  --color-genlayer-accent: #00FF9D; /* Neon green / Hacker styling */
}

body {
  background-color: var(--color-genlayer-dark);
  color: #FAFAFA;
}
